//!COLORS
$primary-primary: #ffc107;
$primary-tint-6: #ffcd39;
$primary-tint-5: #ffda6a;
$primary-tint-4: #ffe69c;
$primary-tint-3: #ffecb5;
$primary-tint-2: #fff3cd;
$primary-tint-1: #fff9e6;
$primary-shade-1: #cc9a06;
$primary-shade-2: #997404;
$primary-shade-3: #664d03;
$primary-shade-4: #4c3a02;
$secondary-secondary: #00acc1;
$secondary-tint-6: #2fbccd;
$secondary-tint-5: #5eccda;
$secondary-tint-4: #8cdde6;
$secondary-tint-3: #a4e5ec;
$secondary-tint-2: #bbedf3;
$secondary-tint-1: #d3f5f9;
$secondary-shade-1: #008a9a;
$secondary-shade-2: #006774;
$secondary-shade-3: #00454d;
$secondary-shade-4: #00343a;
$semantic-error-error: #d32f2f;
$semantic-error-tint-6: #dc5959;
$semantic-error-tint-5: #e58282;
$semantic-error-tint-4: #edacac;
$semantic-error-tint-3: #f2c1c1;
$semantic-error-tint-2: #f6d5d5;
$semantic-error-tint-1: #fbeaea;
$semantic-error-shade-1: #a92626;
$semantic-error-shade-2: #7f1c1c;
$semantic-error-shade-3: #541313;
$semantic-error-shade-4: #3f0e0e;
$semantic-warning-warning: #ffb74d;
$semantic-warning-background: #322a11;
$semantic-warning-tint-6: #ffc571;
$semantic-warning-tint-5: #ffd494;
$semantic-warning-tint-4: #ffe2b8;
$semantic-warning-tint-3: #ffe9ca;
$semantic-warning-tint-2: #fff1db;
$semantic-warning-tint-1: #fff8ed;
$semantic-warning-shade-1: #d3973e;
$semantic-warning-shade-2: #a7772e;
$semantic-warning-shade-3: #7c561f;
$semantic-warning-shade-4: #664617;
$semantic-success-success: #4caf50;
$semantic-success-tint-6: #70bf73;
$semantic-success-tint-5: #94cf96;
$semantic-success-tint-4: #b7dfb9;
$semantic-success-tint-3: #c9e7cb;
$semantic-success-tint-2: #dbefdc;
$semantic-success-tint-1: #edf7ee;
$semantic-success-shade-1: #3d8c40;
$semantic-success-shade-2: #2e6930;
$semantic-success-shade-3: #1e4620;
$semantic-success-shade-4: #173418;
$neutral-text-title-title: #f5f5f5;
$neutral-text-title-primary: #e0e0e0;
$neutral-text-title-secondary: #bdbdbd;
$neutral-text-title-text-color: #6f6f6f;
$neutral-bc-primary: #141414;
$neutral-bc-secondary: #1a1919;
$neutral-bc-devider: #333;
$neutral-bc-hover: #4c4c4c;
$neutral-bc-background-card: #1c1c1c;
$buy-sell-buy: #388e3c;
$buy-sell-sell: #e53935;

//PADDING
$breakpoints-xs: 8px;
$breakpoints-sm: 16px;
$breakpoints-md: 24px;
$breakpoints-lg: 32px;
$breakpoints-xl: 40px;
$breakpoints-xxl: 48px;
$breakpoints-xxxl: 56px;